@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
body {
  margin: 0px;
}

body::-webkit-scrollbar-track {
  border: 1px solid #a8a8a8;
  padding: 2px 0;
  background-color: #d1d1d1;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 240, 240, 0.3);
  background-color: #e6e0e0;
  border: 1px solid #e4dfdf;
}
.scroll-left::-webkit-scrollbar-track {
  border: 1px solid #a8a8a8;
  padding: 2px 0;
  background-color: #d1d1d1;
}

.scroll-left::-webkit-scrollbar {
  width: 10px;
}

.scroll-left::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 240, 240, 0.3);
  background-color: #e6e0e0;
  border: 1px solid #e4dfdf;
}
.comment-tab::-webkit-scrollbar-track {
  border: 1px solid #a8a8a8;
}

.comment-tab::-webkit-scrollbar {
  width: 10px;
}

.comment-tab::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 240, 240, 0.3);
  background-color: #e6e0e0;
  border: 1px solid #e4dfdf;
}

.list-learning::-webkit-scrollbar-track {
  padding: 2px 0;
}

.list-learning::-webkit-scrollbar {
  width: 10px;
}

.list-learning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 240, 240, 0.3);
  background-color: #e6e0e0;
  border: 1px solid #e4dfdf;
}
.resultCourses::-webkit-scrollbar-track {
  padding: 2px 0;
}

.resultCourses::-webkit-scrollbar {
  width: 10px;
}

.resultCourses::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 240, 240, 0.3);
  background-color: #e6e0e0;
  border: 1px solid #e4dfdf;
}

.see-more::-webkit-scrollbar-track {
  background-color: #d1d1d1;
}

.see-more::-webkit-scrollbar {
  width: 10px;
}

.see-more::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 240, 240, 0.3);
  background-color: #e6e0e0;
  border: 1px solid #e4dfdf;
}
.not-found {
  font-size: 150px;
  font-weight: 900;
  background: linear-gradient(to top, #aa39fa, #fa39b3, #ff9800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Footer Styles */
footer {
  background-color: #1f1e1e;
  color: #fff;
  /* padding: 20px 0; */
}

.row {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin: auto;
  /* padding: 68px 0 40px  ; */
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col ul {
  /* margin: 15px 0; */
  line-height: 37px;
}
.col ul li {
  list-style: none;
}
.col ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 15px;
  /* line-height: 30px; */
}
